* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    min-height: 12px;
}

window#waybar {
    background: transparent;
    font-size: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 4px;
    transition: none;
    background: #3c3836; /* Gruvbox dark gray */
}

#workspaces button {
    transition: none;
    color: #ebdbb2; /* Gruvbox light text color */
    background: transparent;
    padding: 4px;
    font-size: 10px;
    opacity: 0.5;
}

#workspaces button.persistent {
    color: #d79921; /* Gruvbox yellow */
    font-size: 10px;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #3c3836; /* Gruvbox dark gray */
    background: #d79921; /* Gruvbox yellow */
}

#workspaces button.active {
    color: #ebdbb2; /* Gruvbox light text color */
    opacity: 1;
}

#workspaces button.focused {
    color: #fabd2f; /* Gruvbox bright yellow */
}

#clock {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2; /* Gruvbox light text */
    background: #3c3836; /* Gruvbox dark gray */
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2;
    background: #3c3836;
}

#pulseaudio.muted {
    background-color: #458588; /* Gruvbox blue */
    color: #1d2021; /* Gruvbox darkest gray */
}

#network {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2;
    background: #3c3836;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2;
    background: #3c3836;
}

#battery {
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2;
    background: #3c3836;
}

#battery.warning:not(.charging) {
    background-color: #fabd2f; /* Gruvbox bright yellow */
    color: #3c3836; /* Gruvbox dark gray */
}

#battery.critical:not(.charging) {
    background-color: #cc241d; /* Gruvbox red */
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    transition: none;
    color: #ebdbb2;
    background: #3c3836;
}

@keyframes blink {
    to {
        background-color: #ebdbb2; /* Gruvbox light text */
        color: #1d2021; /* Gruvbox darkest gray */
    }
}
